/*(ru) Eto voobshem prozratchnost' */
.itemFilled-3llgIC {
    background-color: rgba(0, 0, 0, 0.3);
}

.item-26Dhrx[aria-checked=true] {
    background-color: rgba(0, 0, 0, 0.6);
}

.connection-1fbD7X {
    background-color: rgba(0, 0, 0, 0.5);
}
.accountList-33MS45 {
    background-color: rgba(0, 0, 0, 0.5);
}
.connectionHeader-2MDqhu {
    background: rgba(0, 0, 0, 0.3);
}
